<main class="container">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <link rel="stylesheet" href="/assets/app.css" />
<script src="/assets/theme_toggle.js" defer></script>

  <%= @inner_content %>
</main>
